* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: Poppins, sans-serif;
}

header {
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    font-size: 1.9rem;
    font-weight: 900;
    background-color: #ffffff;
    z-index: 2;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    padding: 25px 40px 25px 50px;
    display: flex;
}

header h3 {
    color: #2d2e32;
    cursor: pointer;
}

header ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

header ul a {
    color: #2d2e32;
    font-weight: 600;
    text-decoration: none;
    transition: all .23s
}

header ul a:hover {
    color: rgb(81, 199, 199);
}

.home-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}


.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.content_container {
    align-items: center;
    display: flex;
    gap: 10rem;
    height: 65rem;
    justify-content: center;
    position: relative;
}

.content {
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: center;
    position: relative;
}

.text_content {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}

.text_content h1 {
    color: #2d2e32;
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.text_content p {
    color: #555;
    font-family: Mulish, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
}

.text_content a {
    width: fit-content;
    height: fit-content;
}

.resumeDownload {
    height: 4rem;
    margin-top: 2rem;
    width: 15rem;
    border-radius: 20%;
    color: #3a3a3a;
    background-color: deepskyblue;
    font-weight: 600;
    cursor: pointer;
}

.resumeDownload:hover {
    color: deepskyblue;
    background-color: #fff;
}

.image_content {
    background-image: url(images/myimage.jpg);
    background-position: 50%;
    background-size: cover;
    width: 35rem;
    height: 35rem;
    border: 3px solid #2d2e32;
    background-repeat: no-repeat;
    border-radius: 50% 60% 70% 50%;
    animation: imageanime 12s ease-in-out infinite;
    transition: all 1s ease-in-out;
    position: relative;
}

.skills_content {
    align-items: center;
    bottom: 0;
    color: #767676;
    display: flex;
    font-size: 1.7rem;
    left: 0;
    position: absolute;
}

.skills_content p {
    border-right: 2px solid rgba(45, 46, 50, .5);
    color: #2d2e32;
    font-family: Mulish, sans-serif;
    font-weight: 600;
    margin-right: 7rem;
    padding-right: 2rem;
}

.skills_content ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.skills_content ul li {
    text-decoration: none;
    cursor: pointer;
}

.skills_content ul li img {
    height: 5rem;
    transition: all .3s ease-in-out;
    border-radius: 25%;
}

#html_logo {
    background-color: #ff5722;
}

#html_logo:hover {
    transform: translateY(-1rem);
}

#css_logo {
    background-color: #2299f8;
}

#css_logo:hover {
    transform: translateY(-1rem);
}

#js_logo:hover {
    transform: translateY(-1rem);
}

/* about container */


.about-container {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 90vh;
    position: relative;
    width: 100%;
    padding: 15rem 0;
}

.about_content {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

}

.about_image {
    position: relative;
}

.smiley_image {
    bottom: 35px;
    position: absolute;
    right: 98px;
    width: 8rem !important;
    z-index: 2;
}

.rotate_image {
    background-color: #fff;
    border-radius: 50%;
    bottom: -33px;
    height: 19rem;
    position: absolute;
    right: 33px;
    width: 19rem;
    animation: rotate 9s linear infinite;
}

.about_content_img1 {
    border-radius: 1.7rem;
    height: 35rem;
    width: 41rem;
}

.aboutme_text {
    padding-right: 1.5rem;
}

.aboutme_text h4 {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase
}

.aboutme_text h3 {
    color: #2d2e32;
    font-family: Poppins, sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.aboutme_text p {
    color: #767676;
    font-family: Mulish, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
}

/* 
    Projects style starts here
*/

.projects-container {
    padding: 10rem 0;
}

.project-content p {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.project-content h3 {
    color: #2d2e32;
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

.developer_logo {
    color: #b58715;
}

.projects_list {
    grid-gap: 5rem;
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
    width: 100%
}

.project_item1 {
    background-color: #fff;
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    display: flex;
    padding: 2rem;
    flex-direction: row;
    gap: 8rem;
    height: 40rem;
    padding: 2rem;
}

.project2 {
    flex-direction: row-reverse !important;
}

.project_link {
    background-color: hsla(0, 0%, 46%, .2);
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    height: auto;
    overflow: hidden;
    width: 53rem;
}

.project_link a img {
    height: auto;
    width: 100%;
    /* animation: updown 45s ease-in-out infinite; */
    transition: transform 10s ease-in-out 0s;
    transform: translateY(0%);
}

.project_link a img:hover {
    transform: translateY(-75%);
}

#cal_image {
    height: 100%;
}


.project_desc {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    width: 30rem;
}

.project_desc h3 {
    align-items: center;
    color: #2d2e32;
    display: flex;
    font-size: 1.7rem;
    gap: .2rem;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;
    text-transform: uppercase;
}

.project_desc span {
    color: hsla(0, 5%, 8%, .773);
    font-size: 1.4rem;
    margin-left: .2rem;
}

.project_desc p {
    color: #767676;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    text-transform: none;
}

.links {
    justify-content: space-evenly;
    margin-top: 3rem;
    display: flex;
}

.links a {
    color: #2d2e32;
    font-size: 1.7rem;
    font-weight: 500;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap:0.5rem;
}

/* 
Contact starts here
*/

.contact-container{
    background-color: #fff;
    padding: 3rem 0;
}

.contact_content{
    display: flex;
    flex-direction: column;
}

.contact_title p{
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.contact_icon{
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 6rem;
}

.contact_icon_box{
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

.contact_info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.contact_info h3{
    color: #2d2e32;
    font-size: 1.7rem;
}

.contact_info p{
    color: #767676;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
}

.contact_icon_box span{
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    color: #147efb;
    display: flex;
    height: 5rem;
    justify-content: center;
    width: 5rem;
}

.contact_info a{
    color: #767676;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
}

.contact_info a:hover{
    color: #2299f8;
}


.footertext h3{
    color: rgba(35, 27, 27, 0.5);
    font-size: 2rem;
    padding: 4rem 0;
}



/* 
animation code starts here
 */

@keyframes imageanime {
    0% {
        border-radius: 50% 60% 70% 50%;
    }

    20% {
        border-radius: 40% 70% 50% 60%;
    }

    40% {
        border-radius: 60% 60% 60% 70%;
    }

    50% {
        border-radius: 70% 50% 40% 50%;
    }

    60% {
        border-radius: 60% 60% 60% 70%;
    }

    80% {
        border-radius: 40% 70% 50% 60%;
    }

    100% {
        border-radius: 50% 60% 70% 50%;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes updown {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0%);
    }
}


/* media width 1000px */

@media (max-width: 1000px) {

    html {
        font-size: 100%;
    }

    header {
        font-size: 3rem;
    }

    header ul {
        visibility: hidden;
    }

    .home-container {
        height: auto;
        padding: 11rem 0;
    }

    .content_container {
        flex-direction: column;
        gap: 3rem;
        height: auto;
        text-align: center;
    }

    .content {
        flex-direction: column-reverse;
        gap: 3rem;
        height: auto;
        text-align: center;
    }

    .text_content h1 {
        font-size: 4rem;
    }

    .text_content {
        align-items: center;
    }

    .resumeDownload {
        margin-bottom: 4rem;
        margin-top: 4rem;
        font-size: 2rem;
        width: 25rem;
        height: 7rem;
    }

    .skills_content {
        position: static;
    }

    .about_content {
        display: flex;
        flex-wrap: wrap;
    }

    .about-container {
        height: fit-content;
        padding: 5rem 0;
    }

    .about_image {
        width: 95%;
    }

    .aboutme_text {
        padding: 3rem 0;
        text-align: center;
    }

    .aboutme_text h3 {
        padding: 1rem 0;
    }

    .project_item1 {
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        padding: 0;
        padding-top: 2rem;
    }

    .projects-container {
        padding: 2rem 0;
    }

    .project-content {
        text-align: center;
    }

    .project-content p {
        margin-bottom: 3rem;
        font-size: 2.5rem;
    }

    .project_link {
        width: 45rem;
        height: 40rem;
    }

    .project-content h3 {
        font-size: 3.5rem;
    }

    .developer_logo{
        visibility: hidden;
    }

    .project_desc h3{
        font-size: 3rem;
        line-height: 4rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .project_desc h3 span{
        font-size: 2.2rem;
    }

    .project_desc{
        width: 80%;
    }

    #todoImg{
        height: 100%;
    }

    .links{
        margin-bottom: 3rem;
    }

    .links a{
        font-size: 3rem;
    }

    .link-logo{
        font-size: 2rem;
    }

    .contact_content{
        text-align: center;
    }

    .contact_title p{
        font-size: 3rem;
    }

    .contact_icon{
        justify-content: center;
        flex-direction: column;
    }

    .contact_icon_box span{
        height: 8rem;
        width: 8rem;
        font-size: 4rem;
    }

    .contact_icon_box{
        flex-direction: column;
    }

    .contact_info h3{
        font-size: 2.5rem;
    }

    .contact_info p{
        font-size: 2.2rem;
    }

    .contact_info a{
        font-size: 2.2rem;
    }

    .footertext h3{
        font-size: 2rem;
    }

}